/* === === === === === === === === === ===
   CSS 3
   Author: [JT]
   Version: 1.0
=== === === === === === === === === === */

@import "reset.css";

/* === === === === === === === === === ===
   STRUCTURE
=== === === === === === === === === === */

#container {
	max-width: 980px;
}

/* HEADER
--- --- --- --- --- --- --- --- --- --- */
header {
	
}

/* NAV
--- --- --- --- --- --- --- --- --- --- */
nav {
	
}

/* FOOTER
--- --- --- --- --- --- --- --- --- --- */
footer {
	
}



/* === === === === === === === === === ===
   RESPONSIVE
=== === === === === === === === === === */

<<<<<<< HEAD
@media screen {
	
}

=======
@media only screen and (max-width: 980px) {
	#container {
		
	}
}

/* For 700px or less (Tablet)
--- --- --- --- --- --- --- --- --- --- */
@media only screen and (max-width: 680px) {
	
}


/* For 360px or less (Smartphone)
--- --- --- --- --- --- --- --- --- --- */
@media only screen and (max-width: 480px) {
	
}
>>>>>>> feature-01
